<!DOCTYPE HTML>
<html>
	<head>
		<title>brindr</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
        <link rel="icon" type="image/x-icon" href="./static/assets/favicon.ico">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
                        <h1><a href="/"><strong>BRINDR</strong></a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="./static/images/fulls/01.jpg" class="image"><img src="./static/images/thumbs/01.jpg" alt="" /></a>
							<h2>Roger</h2>
							<p>Hi!</p>
						</article>
						<article class="thumb">
							<a href="./static/images/fulls/02.jpg" class="image"><img src="./static/images/thumbs/02.jpg" alt="" /></a>
							<h2>Joseph</h2>
							<p>Hello!</p>
						</article>
						<article class="thumb">
							<a href="./static/images/fulls/03.jpg" class="image"><img src="./static/images/thumbs/03.jpg" alt="" /></a>
							<h2>Perry</h2>
							<p>Hiya!</p>
						</article>
						<article class="thumb">
							<a href="./static/images/fulls/04.jpg" class="image"><img src="./static/images/thumbs/04.jpg" alt="" /></a>
							<h2>Agnes</h2>
							<p>Hey!</p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>ABOUT US</h2>
									<p>Hi, we're Brindr. If you're a shrimp looking for deep and meaningful 
                                    connections, you've come to the right place.</p>
                                    <p>While there are always other fish in the sea, we at Brindr know that 
                                    it can be nearly shrimpossible to find the krill for you. No more feeling
                                    like a prawn in your relationships-- we've made it our mission to find you 
                                    the perfect partner, pincers and all.</p>
                                    <p>In our increasingly shellfish world, seeking out your own lover can land
                                    you in hot water. That's why Brindr strives to provide an oasis of honest,
                                    genuine love. Whether you're a giant tiger prawn on the prowl in the Indian
                                    Ocean or a sakura shrimp from Suruga Bay, our site can connect you with
                                    caring crustaceans in your colony.</p>
                                    <p>Our small team is committed to your satisfaction.</p>
								</section>
							</div>
							<div>
								<section>
									<h2>Get in touch</h2>
									<form method="post" action="submit_form">
										<div class="fields">
											<div class="field half">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="field">
												<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.poptrox.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>
